@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face{
    font-family: 'idroid' ;
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

*{
    
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
   
    
}
/* Variavel global*/
:root{
    --fonte-destaque:'Bebas Neue';
    --cor0:#063d1e;
}
/* conf do corpo*/
body{
        background-color: #d2ddbaf8;
        margin: 0 auto;
}

/* conf do cabeçalho*/
header {
    background-image: linear-gradient(to bottom, #3ddc84,#2fa866,#1a5c37,#063d1e);
    color: aliceblue;
    text-align: center;
    font-weight: normal;
    font-style: normal;
    padding: 20px;
}

header > h1{
    font-family:var(--fonte-destaque); 
    color: aliceblue;
    font-size: 2.5em;
    text-shadow: 1px 1px 1px black;
    
}
.cabecalho{
    color: rgba(254, 255, 255, 0.514);
    font-size: 1.2em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.76);
    text-align: center;
    max-width: 600px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;

}

/* conf do Menu*/
nav{
    background-color: var(--cor0);
    text-decoration: none;
    color: aliceblue;
    max-width: 100;
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.363);
    text-align: left;
}
nav > a{
    
    color: rgba(255, 255, 255, 0.877);
    font-weight: bold;
    text-shadow: 0.5px 1px 1px rgba(0, 0, 0, 0.555);
    text-decoration: none;
    border-radius: 4px;
    padding: 10px;
    max-width: 100%;
    transition-duration: 0.5s;
    
    
}

nav > a:hover{
    background-color: #2a8d56;
    color: #17bb5e;
    
}

/* Conf do Conteudo*/
main{
    background-color: rgb(255, 255, 255);
    min-width: 300px;
    max-width: 1000px;
    padding: 5px 5px ;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.408);
    border: 0px 10px;
    border-radius: 0px 0px 10px 10px;
}
article > h1{
    color: #115235;
    font-family: 'idroid';
    padding: 10px;
    font-size: 22px;
    
}
article > h2{
    background-image: linear-gradient(to right, #c5ebd6,#1dcfba31, transparent);
    text-indent: 7px;
    color: #115235;
    font-family: 'idroid';
    padding: 2px;
    margin: 10px;
    font-size: 17px;

}

article > h3{
    background-image: linear-gradient(to right, #109c4f41,#1dcfba31, #ffffff8c);
    color: #115235;
    font-family: 'idroid';
    padding: 2px;
    margin: 10px;
    font-size: 17px;
}

p{
    text-indent: 20px;
    line-height: 1.5em;
    text-align: justify;
    padding: 10px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
/*Links*/
main strong{
    color: #115235;
    font-weight: bold;
}

main a{
    text-decoration: none;
    color: #10501a;
    font-weight: bold;
    background-color: #17bb5e60;
    padding: 2px 6px;
}
main a:hover{
    text-decoration: underline;
    color: #16a152;
}
a.externo::after{
    content: '\00A0\1F517';
}
/* Conf do video*/
.video{
   position: relative;
   background-color: #115235;
   padding: 8px;
   display: block;
   margin: 5px auto;
   max-width: 100%;
   text-align: center
}

/* Conf da Imagens*/
.img{
    display: block;
    margin: 10px auto;
    max-width: 100%;
    text-align: center; 
}

/*Conf do Conteudo extra*/
.container {
    margin: auto;
    max-width: 400px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
      
    padding-right: 35px;
    color: #050505;
    font-family: arial;
    font-size: 15px;
  }

  .container li  {
    margin-top: 7px;
    padding-bottom: 3px;
    list-style-type: '\2714\0020\0020';
      
  } 
    aside > h4{
    background-color: #25ac3c;
    color: white;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px 10px 0px 0px;
  }
  aside#assunto{
    background-color: #25ac3c50;
    border-radius: 10px;

    
  }
  #assunto > p{
    
    margin: 0px 0px 20px;
    margin: 10px;
    padding: 0px 0px 10px;
    
  }
  .texto{
    margin: 10px;
    padding: 10px;
  }
  
  
/* Conf do Rodapé*/
  footer{
    background-color: #10501a;
    text-align: center;
    font-size: 0.7em;
    padding: 5px;
    margin: auto;
    border: 0px;
    color: white;
  }
  